/* Post */
.thread {
	clear: both;
}
#thread-subject {
	line-height: 1;
	font-weight: bold;
	text-transform: none;
	margin: 0 0 4px 0;
	padding-top: 2px;
	color: #333;
}
.post-image {
	float: left;
	margin: 0 25px 0 0;

	img {
		outline: 0 !important;
		border: 0 !important;
		vertical-align: middle;
	}
}
.post-header {
	h3 {
		display: block;
		font-size: 15px;
		margin: 0 0 12px 0;
		padding: 0;
		color: #777;
	}
	h3 a, h3 a:visited {
		margin-left: 8px;
		color: #9C9C9C;
		text-decoration: none;
	}
	.posted-by {
		font-size: 16px;
		margin-right: 5px;
		font-weight: bold;
	}
 	.tripcode {
 		font-weight: normal;
	}
	.post-ago {
		margin: 0;
		font-size: 15px;
	}
}
.thread-reply {
	padding-bottom: 5px;
	clear: both;
}
#first-post .post-body {
	padding-bottom: 10px;
}
.post-body {
	margin: 0;
	padding: 0 0 0 70px;
	font-size: 14px;
}
.post-image video {
	width: 255px;
	height: 255px;
}
.omitted {
	clear: both;
}
