@threadSubject: #333;
@postInfo: #777;
@replyLink: #777;
/* Post */
.thread:after {
	clear: both;
	content: "";
	display: block;
}
.post:after {
	clear: both;
	content: "";
	display: block;
}
#thread-subject {
	line-height: 1;
	font-weight: bold;
	text-transform: none;
	margin: 0 0 4px 0;
	padding-top: 2px;
	color: @threadSubject;
}
.post-file {
	float: left;
	margin: 0 25px 0 0;

	img {
		outline: 0 !important;
		border: 0 !important;
		vertical-align: middle;
	}
}
.post-header {
	h3 {
		display: inline;
		font-size: 110%;
		margin: 0;
	}
	a,
	a:visited {
		text-decoration: none;
	}
	.info {
		font-size: 15px;
		margin: 0 0 12px 0;
		padding: 0;
		color: @postInfo;
	}
	.reply {
		color: @replyLink;
		font-weight: bold;
	}
	.posted-by {
		font-size: 16px;
		font-weight: 800;
	}
	.tripcode {
		font-weight: normal;
	}
	.post-ago {
		margin: 0;
		font-size: 15px;
			a,
			a:visited {
				color: @postInfo;
			}
	}
}
.post.reply {
	padding-bottom: 5px;
}
#first-post {
	.post-body {
		padding-bottom: 10px;
	}
}
.post-body {
	margin: 0;
	padding: 0 0 0 70px;
	font-size: 14px;
	word-wrap: break-word;
	white-space: pre-wrap;
}
.post-file {
	video {
		width: 255px;
		height: 255px;
	}
}
.omitted {
	clear: both;
}
