<article id="thread-{{ thread._id }}" class="thread">
	<div id="first-post" class="post">
		<header class="post-header">
			<h2 id="thread-subject">{{ thread.subject }}</h2>
			<span class="info">
				<h3>
					<span class="posted-by">
						<span class="name">{{ thread.name }}</span>
						{% if thread.tripcode %}
						<span class="tripcode">{{ thread.tripcode }}</span>
						{% endif %}
					</span>
				</h3>
				wrote
				<span class="post-ago"><a href="/{{ board.shortname }}/thread/{{ thread._id }}" title="{{ thread.createdAt }}">{{ timeago(thread.createdAt) }}</a></span>
				{% if thread.file %}
				<i class="fa fa-thumb-tack"></i>
				{% endif %}
				<a href="/{{ board.shortname }}/thread/{{ thread._id }}" class="reply">[Reply]</a>
			</span>
		</header>
		<div class="post-file">
			{% if thread.type == 'video' and thread.file %}
			<video controls src="/uploads/full/{{ thread.file }}.{{ thread.ext }}" poster="/uploads/thumb/{{ thread.file }}.png">
			Your browser does not support HTML5 video. <a href="/uploads/full/{{ thread.file }}.{{ thread.ext }}">[Download]</a>
			</video>
			{% else %}
				{% if thread.file %}
				<a href="/uploads/full/{{ thread.file }}.{{ thread.ext }}"><img src="/uploads/thumb/{{ thread.file }}.{{ thread.ext }}" class="pure-img"></a>
				{% endif %}
			{% endif %}
		</div>
		<div class="post-body">{{ thread.comment }}</div>
		{% if thread.omitted %}
			<div class="omitted">{{ thread.omitted|raw }} posts omitted. Click [Reply] to view.</div>
		{% endif %}
	</div>
	{% for post in thread.replies %}
	<div class="post reply">
		<header class="post-header">
			<span class="info">
				<h3>
					<span class="posted-by">
						<span class="name">{{ post.name }}</span>
						{% if post.tripcode %}
						<span class="tripcode">{{ post.tripcode }}</span>
						{% endif %}
					</span>
				</h3>
				wrote
				<span class="post-ago">{{ timeago(post.createdAt) }}</span>
				{% if thread.file %}
				<i class="fa fa-thumb-tack"></i>
				{% endif %}
			</span>
		</header>
		<div class="post-file">
			{% if post.type == 'video' and post.file %}
			<video controls src="/uploads/full/{{ post.file }}.{{ post.ext }}" poster="/uploads/thumb/{{ post.file }}.png">
			Your browser does not support HTML5 video. <a href="/uploads/full/{{ post.file }}.{{ post.ext }}">[Download]</a>
			</video>
			{% else %}
				{% if post.file %}
				<a href="/uploads/full/{{ post.file }}.{{ post.ext }}"><img src="/uploads/thumb/{{ post.file }}.{{ post.ext }}" class="pure-img"></a>
				{% endif %}
			{% endif %}
		</div>
		<div class="post-body">{{ post.comment }}</div>
	</div>
	{% endfor %}
	<div style="clear: both;"></div>
</article>
