<!doctype html>
<html lang="en" class="no-js">
<head>
	<title>
	{% if title %}{{ title }} - {% endif %}
	{% if board %}
	  {% if not title %}/{{ board.shortname }}/ - {% endif %}
	  {{ board.name }}
	{% else %}
	  {{ siteName }}
	{% endif %}
	</title>
	<meta charset="utf8" />
	<link href="http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic" rel="stylesheet" type="text/css">
	<link href="/assets/stylesheets/pure-min.css" rel="stylesheet" />
	<!--[if lte IE 8]>
		<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0-rc-1/grids-responsive-old-ie-min.css">
	<![endif]-->
	<!--[if gt IE 8]><!-->
		<link rel="stylesheet" href="/assets/stylesheets/grids-responsive-min.css">
	<!--<![endif]-->
	<link href="/assets/font-awesome/css/font-awesome.min.css" rel="stylesheet">
	<link href="/assets/stylesheets/site.css" rel="stylesheet" />
{% for stylesheet in stylesheets %}
	<link href="/assets/stylesheets/{{stylesheet}}" rel="stylesheet" />
{% endfor %}
	<link href="/assets/stylesheets/handheld.css" media="screen and (max-device-width:40em)" rel="stylesheet">
	<link media="handheld" href="/assets/stylesheets/handheld.css" rel="stylesheet">
	<!--[if lt IE 9]>
		<script type="text/javascript" src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
		<style type="text/css">header,nav,section,article,aside,footer,hgroup,main { display: block;}</style>
		<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
	<![endif]-->
</head>
<body>
<div id="container">
	<header id="top">
		<div class="pure-menu pure-menu-open pure-menu-horizontal">
			<a href="/" class="pure-menu-heading">{{ siteName }}</a>
			<ul role="navigation">
				{% for board in boards %}
				<li class="{% if board.shortname == currentBoard %}pure-menu-selected {% endif %}"><a href="/{{ board.shortname'}}/" title="/{{ board.shortname }}/">{{ board.name }}</a></li>
				{% endfor %}
			</ul>
		</div>
	</header>
	<div class="pure-g">
		<main>
			<div id="content">
{% block content %}{% endblock %}
			</div>
		</main>
	</div>
	<footer id="footer" class="pure-g">
		<div class="pure-u-2-5">
			<p>{{ siteName }} &copy; {{ now()|date('Y') }}</p>
		</div>
	</footer>
</div>
<!-- Dependencies -->
<!-- Site-specific -->
<script src="/assets/javascripts/ID.js"></script>
<script src="/assets/javascripts/bootstrap.js"></script>
{% for script in scripts %}
<script src="/assets/javascripts/{{ script }}"></script>
{% endfor %}
</script>
</body>
</html>
