<article id="thread-{{ thread._id }}" class="thread">
	<div id="first-post" class="post">
		<header class="post-header">
			<h2 id="thread-subject">{{ thread.subject }}</h2>
			<h3>
				<span class="posted-by">
					<span class="username">{{ thread.name }}</span>
					{% if thread.tripcode %}
					<span class="tripcode">{{ thread.tripcode }}</span>
					{% endif %}
				</span>
				wrote
				<span class="post-ago">{{ timeago(thread.createdAt) }}</span>
			</h3>
		</header>
		<div class="post-image">
			{% if thread.file %}
			<a href="/uploads/full/{{ thread.file }}"><img src="/uploads/thumb/{{ thread.file }}"></a>
			{% endif %}
		</div>
		<div class="post-body">{{ thread.comment }}</div>
	</div>
	{% for post in thread.replies %}
	<div class="thread-reply">
		<header class="post-header">
			<h3>
				<span class="posted-by">
					<span class="username">{{ post.name }}</span>									{% if post.tripcode %}
					<span class="tripcode">{{ post.tripcode }}</span>
					{% endif %}
				</span>
				wrote
				<span class="post-ago">{{ timeago(post.createdAt) }}</span>
			</h3>
		</header>
		<div class="post-image">
			{% if post.file %}
			<a href="/uploads/full/{{ post.file }}"><img src="/uploads/thumb/{{ post.file }}"></a>
			{% endif %}
		</div>
		<div class="post-body">{{ post.comment }}</div>
	</div>
	{% endfor %}
</article>