{% extends "base.html" %}
{% block content %}
<div class="pure-u-1">
	<form id="thread-form" method="post" enctype="multipart/form-data" class="pure-form pure-form-stacked">
		<fieldset>
			<label for="name">Name</label>
			<input id="name" type="text" size="25" maxlength="35" autocomplete="off" placeholder="Name">

			<label for="email">Email </label>
			<input id="email" type="email" placeholder="Email">

			<label for="subject">Subject</label>
			<input id="subject" type="text" placeholder="Subject">
			
			<label for="thread-content">Content</label>
			<textarea id="thread-content" name="thread-content" type="text" rows="5" cols="35" placeholder="Content"></textarea>
			
			<div class="upload-container">
				<button class="pure-button fake-button">Upload</button>
				<input id="upload" name="image" type="file" accept="image/*">
			</div>

			<button type="submit" class="pure-button pure-button-primary">Submit</button>
		</fieldset>
	</form>
	<div class="threads">
		{% if threads.length %}
			{% for thread in threads %}
				{% include "./thread.html" with thread only %}
			{% endfor %}
		{% else %}
			<p>This board is empty.</p>
		{% endif %}
	</div>
</div>
{% endblock %}