{% extends "base.html" %}
{% block content %}
<div class="pure-u-1">
{% if thread %}
	{% include "./_thread.html" %}
{% else %}
	<h2>Thread does not exist.</h2>
{% endif %}
<form id="reply-form" method="post" enctype="multipart/form-data" class="pure-form pure-form-stacked pure-g">
	<fieldset>
		<h3><span class="pure-u-1-2">Reply to thread</span></h3>
		<input type="hidden" name="_csrf" value="{{csrftoken}}">

		<label for="name" class="pure-u-1-5">Name</label>
		<input name="name" type="text" class="pure-input-2-3" autocomplete="off" placeholder="Name" required="required">

		<label for="email" class="pure-u-1-5">Email</label>
		<input name="email" type="email" class="pure-input-2-3" placeholder="Email">

		<label for="thread-content" class="pure-u-1-4">Content</label>
		<textarea id="thread-content" name="comment" type="text" rows="5" cols="35" placeholder="Content" required="required"></textarea>

		<div class="upload-container">
			<button class="pure-button fake-button">Upload</button>
			<input id="upload" name="image" type="file" accept="image/*">
		</div>

		<button type="submit" class="pure-button pure-button-primary">Submit</button>
	</fieldset>
</form>
</div>
{% endblock %}
